
// System's base color grid. Do not use $system* variables anywhere else.

$system-grey-00: hsla(0, 0%, 100%, 1);
$system-grey-02: hsla(0, 0%, 98%, 1);
$system-grey-05: hsla(0, 0%, 95%, 1);
$system-grey-10: hsla(0, 0%, 89%, 1);
$system-grey-20: hsla(0, 0%, 78%, 1);
$system-grey-30: hsla(0, 0%, 67%, 1);
$system-grey-40: hsla(0, 0%, 57%, 1);
$system-grey-50: hsla(0, 0%, 46%, 1); // base
$system-grey-60: hsla(0, 0%, 37%, 1);
$system-grey-70: hsla(0, 0%, 27%, 1);
$system-grey-80: hsla(0, 0%, 18%, 1);
$system-grey-90: hsla(0, 0%, 9%, 1);
$system-grey-100: hsla(0, 0%, 0%, 1);

$system-grey-opacity-10: hsla(0, 0%, 0%, .1);
$system-grey-opacity-20: hsla(0, 0%, 0%, .2);
$system-grey-opacity-30: hsla(0, 0%, 0%, .3);
$system-grey-opacity-40: hsla(0, 0%, 0%, .4);
$system-grey-opacity-50: hsla(0, 0%, 0%, .5);
$system-grey-opacity-60: hsla(0, 0%, 0%, .6);
$system-grey-opacity-70: hsla(0, 0%, 0%, .7);
$system-grey-opacity-80: hsla(0, 0%, 0%, .8);
$system-grey-opacity-90: hsla(0, 0%, 0%, .9);

// Accent shades
$system-blue-10: hsla(205, 100%, 94%, 1);
$system-blue-20: hsla(206, 100%, 82%, 1);
$system-blue-30: hsla(206, 100%, 65%, 1);
$system-blue-40: hsla(206, 100%, 50%, 1);
$system-blue-50: hsla(206, 100%, 35%, 1); // base
$system-blue-60: hsla(206, 100%, 28%, 1);
$system-blue-70: hsla(206, 100%, 20%, 1);
$system-blue-80: hsla(206, 100%, 15%, 1);
$system-blue-90: hsla(206, 100%, 9%, 1);

// Highlight colors // Do we need?
$system-purple-10: hsla(262, 46%, 90%, 1);
$system-purple-20: hsla(262, 46%, 80%, 1);
$system-purple-30: hsla(262, 46%, 70%, 1);
$system-purple-40: hsla(262, 46%, 65%, 1);
$system-purple-50: hsla(262, 46%, 58%, 1); // base
$system-purple-60: hsla(262, 46%, 50%, 1);
$system-purple-70: hsla(262, 46%, 37%, 1);
$system-purple-80: hsla(262, 46%, 25%, 1);
$system-purple-90: hsla(262, 46%, 17%, 1);

// Success colors
$system-green-10: hsla(120, 77%, 90%, 1);
$system-green-20: hsla(120, 77%, 80%, 1);
$system-green-30: hsla(120, 77%, 60%, 1);
$system-green-40: hsla(120, 77%, 40%, 1);
$system-green-50: hsla(120, 77%, 30%, 1); // base
$system-green-60: hsla(120, 77%, 25%, 1);
$system-green-70: hsla(120, 77%, 20%, 1);
$system-green-80: hsla(120, 77%, 15%, 1);
$system-green-90: hsla(120, 77%, 10%, 1);

// Info colors
$system-teal-10: hsla(173, 100%, 90%, 1);
$system-teal-20: hsla(173, 100%, 80%, 1);
$system-teal-30: hsla(173, 100%, 50%, 1);
$system-teal-40: hsla(173, 100%, 40%, 1);
$system-teal-50: hsla(173, 100%, 26%, 1); // base
$system-teal-60: hsla(173, 100%, 20%, 1);
$system-teal-70: hsla(173, 100%, 15%, 1);
$system-teal-80: hsla(173, 100%, 12%, 1);
$system-teal-90: hsla(173, 100%, 08%, 1);

// Caution colors
$system-yellow-10: hsla(44, 100%, 90%, 1);
$system-yellow-20: hsla(44, 100%, 80%, 1);
$system-yellow-30: hsla(44, 100%, 70%, 1);
$system-yellow-40: hsla(44, 100%, 60%, 1);
$system-yellow-50: hsla(44, 100%, 50%, 1); // base
$system-yellow-60: hsla(44, 100%, 40%, 1);
$system-yellow-70: hsla(44, 100%, 30%, 1);
$system-yellow-80: hsla(44, 100%, 20%, 1);
$system-yellow-90: hsla(44, 100%, 10%, 1);

// Danger colors
$system-red-10: hsla(16, 99%, 90%, 1);
$system-red-20: hsla(16, 99%, 80%, 1);
$system-red-30: hsla(16, 99%, 70%, 1);
$system-red-40: hsla(16, 99%, 55%, 1);
$system-red-50: hsla(16, 99%, 43%, 1); // base
$system-red-60: hsla(16, 99%, 35%, 1);
$system-red-70: hsla(16, 99%, 25%, 1);
$system-red-80: hsla(16, 99%, 20%, 1);
$system-red-90: hsla(16, 99%, 15%, 1);

$undefined: #fff; // remove me before continuing

$theme2: (
	'light': (
		'text': $system-grey-100,
		'text-subtle': $system-grey-70,
		'box-shadow-light': $system-grey-opacity-20,
		'box-shadow-medium': $system-grey-opacity-30,
		'box-shadow-heavy': $system-grey-opacity-80,
		'body-background': $system-grey-00,
		'body-background-medium': $system-grey-00,
		'body-background-heavy': $system-grey-20,
		'border': $undefined,
		// next 4 are too specific, they'll map to a more general var later
		// 'pre-background': $undefined,
		// 'code-header-background': $undefined,
		// 'code-header-text': $undefined,
		// 'input-background': $undefined,

		'primary': $undefined,
		'primary-background': $undefined,
		'primary-text': $undefined,
		'primary-hover': $undefined,
		'primary-active': $undefined,
		'primary-box-shadow': $undefined,
		'primary-invert': $undefined,

		'secondary': $undefined,
		'secondary-background': $undefined,
		'secondary-text': $undefined,
		'secondary-hover': $undefined,
		'secondary-active': $undefined,
		'secondary-box-shadow': $undefined,
		'secondary-invert': $undefined,

		'success': $undefined,
		'success-background': $undefined,
		'success-text': $undefined,
		'success-hover': $undefined,
		'success-active': $undefined,
		'success-box-shadow': $undefined,
		'success-invert': $undefined,

		'info': $undefined,
		'info-background': $undefined,
		'info-text': $undefined,
		'info-hover': $undefined,
		'info-active': $undefined,
		'info-box-shadow': $undefined,
		'info-invert': $undefined,

		'dark': $undefined,
		'dark-background': $undefined,
		'dark-text': $undefined,
		'dark-hover': $undefined,
		'dark-active': $undefined,
		'dark-box-shadow': $undefined,
		'dark-invert': $undefined,

		'warning': $undefined,
		'warning-background': $undefined,
		'warning-text': $undefined,
		'warning-hover': $undefined,
		'warning-active': $undefined,
		'warning-box-shadow': $undefined,
		'warning-invert': $undefined,

		'danger': $undefined,
		'danger-background': $undefined,
		'danger-text': $undefined,
		'danger-hover': $undefined,
		'danger-active': $undefined,
		'danger-box-shadow': $undefined,
	),
	'night': (

		'text': $undefined,
		'text-light': $undefined,
		'text-lighter': $undefined,
		'box-shadow-light': $undefined,
		'box-shadow-medium': $undefined,
		'box-shadow-heavy': $undefined,
		'body-background': $undefined,
		'body-background-dark': $undefined,
		'body-background-ter': $undefined,
		'border': $undefined,
		'pre-background': $undefined,
		'code-header-background': $undefined,
		'code-header-text': $undefined,
		'input-background': $undefined,

		'primary': $undefined,
		'primary-background': $undefined,
		'primary-text': $undefined,
		'primary-hover': $undefined,
		'primary-active': $undefined,
		'primary-box-shadow': $undefined,
		'primary-invert': $undefined,

		'secondary': $undefined,
		'secondary-background': $undefined,
		'secondary-text': $undefined,
		'secondary-hover': $undefined,
		'secondary-active': $undefined,
		'secondary-box-shadow': $undefined,
		'secondary-invert': $undefined,

		'success': $undefined,
		'success-background': $undefined,
		'success-text': $undefined,
		'success-hover': $undefined,
		'success-active': $undefined,
		'success-box-shadow': $undefined,
		'success-invert': $undefined,

		'info': $undefined,
		'info-background': $undefined,
		'info-text': $undefined,
		'info-hover': $undefined,
		'info-active': $undefined,
		'info-box-shadow': $undefined,
		'info-invert': $undefined,

		'dark': $undefined,
		'dark-background': $undefined,
		'dark-text': $undefined,
		'dark-hover': $undefined,
		'dark-active': $undefined,
		'dark-box-shadow': $undefined,
		'dark-invert': $undefined,

		'warning': $undefined,
		'warning-background': $undefined,
		'warning-text': $undefined,
		'warning-hover': $undefined,
		'warning-active': $undefined,
		'warning-box-shadow': $undefined,
		'warning-invert': $undefined,

		'danger': $undefined,
		'danger-background': $undefined,
		'danger-text': $undefined,
		'danger-hover': $undefined,
		'danger-active': $undefined,
		'danger-box-shadow': $undefined,
	)
);

// generate css variables from utilities/_theme.scss

:root {
	@each $key, $val in map-get($theme2, 'light') {
		--#{$key}: #{$val};
	}
}

.theme_night {
	@each $key, $val in map-get($theme2, 'night') {
		--#{$key}: #{$val};
	}
}

// Derived, themed variables for use in our styles

$text: var(--text);
$text-bis: var(--text-bis);
$text-ter: var(--text-ter);
$box-shadow-light: var(--box-shadow-light);
$box-shadow-medium: var(--box-shadow-medium);
$box-shadow-heavy: var(--box-shadow-heavy);
$body-background: var(--body-background);
$body-background-bis: var(--body-background-bis);
$body-background-ter: var(--body-background-ter);
$border: var(--border);
$pre-background: var(--pre-background);
$code-header-background: var(--code-header-background);
$code-header-text: var(--code-header-text);
$input-background: var(--input-background);

$primary: var(--primary);
$primary-background: var(--primary-background);
$primary-text: var(--primary-text);
$primary-hover: var(--primary-hover);
$primary-active: var(--primary-active);
$primary-invert: var(--primary-invert);
$primary-box-shadow: var(--primary-box-shadow);

$secondary: var(--secondary);
$secondary-background: var(--secondary-background);
$secondary-text: var(--secondary-text);
$secondary-hover: var(--secondary-hover);
$secondary-active: var(--secondary-active);
$secondary-invert: var(--secondary-invert);
$secondary-box-shadow: var(--secondary-box-shadow);

$success: var(--success);
$success-background: var(--success-background);
$success-text: var(--success-text);
$success-hover: var(--success-hover);
$success-active: var(--success-active);
$success-invert: var(--success-invert);
$success-box-shadow: var(--success-box-shadow);

$info: var(--info);
$info-background: var(--info-background);
$info-text: var(--info-text);
$info-hover: var(--info-hover);
$info-active: var(--info-active);
$info-invert: var(--info-invert);
$info-box-shadow: var(--info-box-shadow);

$dark: var(--dark);
$dark-background: var(--dark-background);
$dark-text: var(--dark-text);
$dark-hover: var(--dark-hover);
$dark-active: var(--dark-active);
$dark-invert: var(--dark-invert);
$dark-box-shadow: var(--dark-box-shadow);

$warning: var(--warning);
$warning-background: var(--warning-background);
$warning-text: var(--warning-text);
$warning-hover: var(--warning-hover);
$warning-active: var(--warning-active);
$warning-invert: var(--warning-invert);
$warning-box-shadow: var(--warning-box-shadow);

$danger: var(--danger);
$danger-background: var(--danger-background);
$danger-text: var(--danger-text);
$danger-heavy: var(--danger-text); // change all color to heavy
$danger-hover: var(--danger-hover);
$danger-active: var(--danger-active);
$danger-invert: var(--danger-invert);
$danger-box-shadow: var(--danger-box-shadow);

$colors: (
	'primary': (
		$primary,
		$primary-background,
		$primary-text,
		$primary-hover,
		$primary-active,
		$primary-invert,
		$primary-box-shadow
	),
	'secondary': (
		$secondary,
		$secondary-background,
		$secondary-text,
		$secondary-hover,
		$secondary-active,
		$secondary-invert,
		$secondary-box-shadow
	),
	'success': (
		$success,
		$success-background,
		$success-text,
		$success-hover,
		$success-active,
		$success-invert,
		$success-box-shadow
	),
	'info': (
		$info,
		$info-background,
		$info-text,
		$info-hover,
		$info-active,
		$info-invert,
		$info-box-shadow
	),
	'dark': (
		$dark,
		$dark-background,
		$dark-text,
		$dark-hover,
		$dark-active,
		$dark-invert,
		$dark-box-shadow
	),
	'warning': (
		$warning,
		$warning-background,
		$warning-text,
		$warning-hover,
		$warning-active,
		$warning-invert,
		$warning-box-shadow
	),
	'danger': (
		$danger,
		$danger-background,
		$danger-text,
		$danger-hover,
		$danger-active,
		$danger-invert,
		$danger-box-shadow
	),
) !default;

// loop nth() vars but for inline use, use vars directly

$effect-default: 0;
$effect-background: 1;
$effect-text: 2;
$effect-hover: 3;
$effect-active: 4;
$effect-invert: 5;
$effect-box-shadow: 6;

// will use nth() in func